        <div class="show__list">
            <div class="show__list__header">
                <h3>Note List</h3>
                <img src="../../images/remove.png" width="22" alt="">
            </div>
            <div class="show__list__content" id="noteList">
                <% fetchData.map((data,key) => { %>
                    <% const destructureArray = data.note_list.split(','); %>
                    <% const destructureTime = new Date(data.note_insertDate) %>

                    <% if(key === 0){ %>
                        <div class="content__list list__notFocus" id="<%= key %>" onClick="getNoteData('<%= key %>','<%= JSON.stringify(data) %>')">
                            <h3><%=data.note_title %></h3>
                            <div class="note__time">
                                <p><%=destructureArray[0] %></p>
                                <span><%=destructureTime.toLocaleString('UTC', { hour: 'numeric', minute: 'numeric', hour12: true }) %></span>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="content__list list__notFocus" id="<%= key %>" onClick="getNoteData('<%= key %>','<%= JSON.stringify(data) %>')">
                            <h3><%=data.note_title %></h3>
                            <div class="note__time">
                                <p><%=destructureArray[0] %></p>
                                <span><%=destructureTime.toLocaleString('UTC', { hour: 'numeric', minute: 'numeric', hour12: true }) %></span>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
            <div class="add__note">
                <a href="javascript:void(0)" onClick="showAddNote('show');">Add new notes</a>
            </div>
        </div>

        <% if(fetchData[noteId] !== undefined) { %>

        <div class="list__main__content" id="sendfile">
            <div class="list__main__content__wrap">
                <div class="main__content__header">
                    <p><%=fetchData[noteId].note_title%></p>
                </div>
                <div class="main__content__remaining__edit">
                    <span>3 tasks remaining</span>
                    <a href="javascript:void(0)" onclick="editClick('<%=fetchData[noteId].id %>')">Edit</a>
                </div>
                <div class="main__content__add">
                    <input type="text" id="addListText" value="">
                    <button type="button" onclick="addList('<%=fetchData[noteId].note_list %>','<%=fetchData[noteId].id %>','<%=fetchData[noteId].note_title%>')">+</button>
                </div>
                <div class="main__content__checkbox">
                    <div class="main__content__checkbox__wrap" id="wrapLabel">
                        <% const listString = fetchData[noteId].note_list; %>
                        <% const splitData = listString.split(","); %>
                        <% const listKeysString = fetchData[noteId].note_keys; %>
                        <% const splitDataKey = listKeysString.split(","); %>

                        <% const objectCheckedData = fetchData[noteId].checked_list; %>
                        
                        <% const checkedID = objectCheckedData != "" ? JSON.parse(objectCheckedData) : "" %>

                        <% if(listString !== "") { %>
                            <% for(let i=0;i<splitData.length;i++){ %>
                                <% if(checkedID != "" && checkedID.some(e => e.id.replace("checkBox","") == i+1 )) {%>
                                    <div class="checkBoxLabel checkBoxLabel<%=i%>" >
                                        <label for="">
                                            <input type="checkbox" class="ClasscheckBox" value="<%=splitDataKey[i]%>,<%=splitData[i]%>" id="<%=splitDataKey[i]%>checkBox" onclick="checkboxClick('<%=splitDataKey[i]%>checkBox','<%= JSON.stringify(checkedID) %>','<%=fetchData[noteId].id %>')" checked>
                                            <span class="checkedList spanListText" id="<%=splitDataKey[i]%>checkBoxSpan"><%=splitData[i] %></span>
                                            <input style="text-decoration: line-through;" type="text" class="editListTextInput" value="<%=splitData[i] %>">
                                        </label>
                                        <a class="removeBtn get<%=splitDataKey[i]%>" href="javascript:void(0)" onclick="removeClick('<%=splitDataKey[i]%>','<%=splitData%>','<%=fetchData[noteId].id %>')" id="checkBoxRemove" value="<%=splitDataKey[i]%>"><img width="15" src="../assets/images/removeIcon.png" alt=""></a>
                                    </div>
                                <% }else{ %>

                                    <div class="checkBoxLabel checkBoxLabel<%=i%>">
                                        <label for="">
                                            <input type="checkbox" class="ClasscheckBox" value="<%=splitDataKey[i]%>,<%=splitData[i]%>" id="<%=splitDataKey[i]%>checkBox" onclick="checkboxClick('<%=splitDataKey[i]%>checkBox','<%= JSON.stringify(checkedID) %>','<%=fetchData[noteId].id %>')">
                                            <span class="spanListText" id="<%=splitDataKey[i]%>checkBoxSpan" ><%=splitData[i] %></span>
                                            <input type="text" class="editListTextInput" value="<%=splitData[i] %>">
                                        </label>
                                        <a class="removeBtn get<%=splitDataKey[i]%>" href="javascript:void(0)" onclick="removeClick('<%=splitDataKey[i]%>','<%=splitData%>','<%=fetchData[noteId].id %>')" id="checkBoxRemove" value="<%=splitDataKey[i]%>"><img width="15" src="../assets/images/removeIcon.png" alt=""></a>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>

                    </div>
                </div>
                <!-- remove class note__savebtn -->
            </div>
        </div>
        <% } else { %>
        <div class="list__main__content" id="sendfile">
            <h1>No List</h1>
        </div>
        <% } %>


        <div class="add__note__settings" id="showAddNote">
                <div class="add__note__options">
                    <div class="exit__btn">
                        <button type="button" onClick="showAddNote('hide');">X</button>
                    </div>
                    <div class="add__note__content">
                        <label for="noteTitle">Note Title</label>
                        <div class="text__container">
                            <input type="text" id="noteTitle"><br>
                            <button type="button" onClick="addNote('<%=fetchData.length %>')">Save</button>
                        </div>
                    </div>
                </div>
        </div>