        <div class="show__list">
            <div class="show__list__header">
                <h3>Note List</h3>
                <img src="../../images/remove.png" width="22" alt="">
            </div>
            <div class="show__list__content">
                <% fetchData.map((data,key) => { %>
                    <% const destructureArray = data.note_list.split(','); %>
                    <% const destructureTime = new Date(data.note_insertDate) %>

                    <% if(key === 0){ %>
                        <div class="content__list" id="<%= key %>" onClick="getNoteData('<%= key %>')">
                            <h3><%=data.note_title %></h3>
                            <div class="note__time">
                                <p><%=destructureArray[0] %></p>
                                <span><%=destructureTime.toLocaleString('UTC', { hour: 'numeric', minute: 'numeric', hour12: true }) %></span>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="content__list list__notFocus" id="<%= key %>" onClick="getNoteData('<%= key %>')">
                            <h3><%=data.note_title %></h3>
                            <div class="note__time">
                                <p><%=destructureArray[0] %></p>
                                <span><%=destructureTime.toLocaleTimeString() %></span>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
            <div class="add__note">
                <a href="#" onClick="showAddNote('show');">Add new notes</a>
            </div>
        </div>

        <div class="list__main__content" id="sendfile">
            <div class="list__main__content__wrap">
                <div class="main__content__header">
                    <p><%=fetchData[noteId].note_title%></p>
                </div>
                <div class="main__content__remaining__edit">
                    <span>3 tasks remaining</span>
                    <a href="">Edit</a>
                </div>
                <div class="main__content__add">
                    <input type="text" id="addListText" value="">
                    <button type="button" onclick="addList('<%=fetchData[noteId].note_keys %>')">+</button>
                </div>
                <div class="main__content__checkbox">
                    <div class="main__content__checkbox__wrap" id="wrapLabel">
                        <% const listString = fetchData[noteId].note_list; %>
                        <% const splitData = listString.split(","); %>
                        <% const listKeysString = fetchData[noteId].note_keys; %>
                        <% const splitDataKey = listKeysString.split(","); %>
                        <% console.log(splitDataKey) %>

                        <% for(let i=0;i<splitData.length;i++){ %>
                        <label for="">
                            <input type="checkbox" value="<%=splitDataKey[i]%>,<%=splitData[i]%>" id="<%=splitDataKey[i] %>" onclick="checkboxClick('<%=splitDataKey[i] %>')">
                            <span><%=splitData[i] %></span>
                        </label>
                        <% } %>

                    </div>
                    <div class="note__savebtn">
                        <button type="submit" onClick="passtoUrl()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="add__note__settings" id="showAddNote">
                <div class="add__note__options">
                    <div class="exit__btn">
                        <button type="button" onClick="showAddNote('hide');">X</button>
                    </div>
                    <div class="add__note__content">
                        <label for="noteTitle">Note Title</label>
                        <div class="text__container">
                            <input type="text" id="noteTitle"><br>
                            <button type="button" onClick="addNote()">Save</button>
                        </div>
                    </div>
                </div>
        </div>